<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script> 
    
    $(function() {
        $(".guest_photo_aran").on("click", function() {
            if ($(".artist_aran_active").css('display') == "none") {
                $(".artist_aran_active").css({"display":"block"});
            }
            else {
                $(".artist_aran_active").css({"display":"none"});
            }
        });
    });

    $(function() {
        $(".guest_photo_hyekyung").on("click", function() {

            if ($(".artist_hyekyung_active").css('display') == "none") {
                $(".artist_hyekyung_active").css({"display":"block"});
            }
            else {
                $(".artist_hyekyung_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".withyou_photo_hasom").on("click", function() {

            if ($(".artist_hasom_active").css('display') == "none") {
                $(".artist_hasom_active").css({"display":"block"});
            }
            else {
                $(".artist_hasom_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".withyou_photo_hahyeon").on("click", function() {

            if ($(".artist_hahyeon_active").css('display') == "none") {
                $(".artist_hahyeon_active").css({"display":"block"});
            }
            else {
                $(".artist_hahyeon_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".withyou_photo_seoyeon").on("click", function() {

            if ($(".artist_seoyeon_active").css('display') == "none") {
                $(".artist_seoyeon_active").css({"display":"block"});
            }
            else {
                $(".artist_seoyeon_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".withyou_photo_minseop").on("click", function() {

            if ($(".artist_minseop_active").css('display') == "none") {
                $(".artist_minseop_active").css({"display":"block"});
            }
            else {
                $(".artist_minseop_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".withyou_photo_sohyun").on("click", function() {

            if ($(".artist_sohyun_active").css('display') == "none") {
                $(".artist_sohyun_active").css({"display":"block"});
            }
            else {
                $(".artist_sohyun_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".withyou_photo_sohee").on("click", function() {

            if ($(".artist_sohee_active").css('display') == "none") {
                $(".artist_sohee_active").css({"display":"block"});
            }
            else {
                $(".artist_sohee_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".table_photo_yochan").on("click", function() {
            if ($(".artist_yochan_active").css('display') == "none") {
                $(".artist_yochan_active").css({"display":"block"});
            }
            else {
                $(".artist_yochan_active").css({"display":"none"});
            }
        });
    });

    $(function() {
        $(".table_photo_hyunjin").on("click", function() {

            if ($(".artist_hyunjin_active").css('display') == "none") {
                $(".artist_hyunjin_active").css({"display":"block"});
            }
            else {
                $(".artist_hyunjin_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".table_photo_jonghwan").on("click", function() {

            if ($(".artist_jonghwan_active").css('display') == "none") {
                $(".artist_jonghwan_active").css({"display":"block"});
            }
            else {
                $(".artist_jonghwan_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".table_photo_dahyun").on("click", function() {

            if ($(".artist_dahyun_active").css('display') == "none") {
                $(".artist_dahyun_active").css({"display":"block"});
            }
            else {
                $(".artist_dahyun_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".table_photo_yunseo").on("click", function() {

            if ($(".artist_yunseo_active").css('display') == "none") {
                $(".artist_yunseo_active").css({"display":"block"});
            }
            else {
                $(".artist_yunseo_active").css({"display":"none"});
            } 
        });
    });

    $(function() {
        $(".table_photo_youngju").on("click", function() {

            if ($(".artist_youngju_active").css('display') == "none") {
                $(".artist_youngju_active").css({"display":"block"});
            }
            else {
                $(".artist_youngju_active").css({"display":"none"});
            } 
        });
    });


    $(".program_list_down_1").click(function() {
        if ($(".program_list_1").css("display") == "none") {
            $(".program_list_1").css({"display":"flex"});
            $(".program_list_down_1").css({"display":"none"});
        }
    });
    $(".program_list_1").click(function() {
        if ($(".program_list_1").css("display") == "flex") {
            $(".program_list_1").css({"display":"none"});
            $(".program_list_down_1").css({"display":"flex"});
        }
    });

    $(".program_list_down_2").click(function() {
        if ($(".program_list_2").css("display") == "none") {
            $(".program_list_2").css({"display":"flex"});
            $(".program_list_down_2").css({"display":"none"});
        }
    });
    $(".program_list_2").click(function() {
        if ($(".program_list_2").css("display") == "flex") {
            $(".program_list_2").css({"display":"none"});
            $(".program_list_down_2").css({"display":"flex"});
        }
    });

    $(".program_list_down_3").click(function() {
        if ($(".program_list_3").css("display") == "none") {
            $(".program_list_3").css({"display":"flex"});
            $(".program_list_down_3").css({"display":"none"});
        }
    });
    $(".program_list_3").click(function() {
        if ($(".program_list_3").css("display") == "flex") {
            $(".program_list_3").css({"display":"none"});
            $(".program_list_down_3").css({"display":"flex"});
        }
    });

    $(".program_list_down_4").click(function() {
        if ($(".program_list_4").css("display") == "none") {
            $(".program_list_4").css({"display":"flex"});
            $(".program_list_down_4").css({"display":"none"});
        }
    });
    $(".program_list_4").click(function() {
        if ($(".program_list_4").css("display") == "flex") {
            $(".program_list_4").css({"display":"none"});
            $(".program_list_down_4").css({"display":"flex"});
        }
    });
    $(".program_list_down_5").click(function() {
        if ($(".program_list_5").css("display") == "none") {
            $(".program_list_5").css({"display":"flex"});
            $(".program_list_down_5").css({"display":"none"});
        }
    });
    $(".program_list_5").click(function() {
        if ($(".program_list_5").css("display") == "flex") {
            $(".program_list_5").css({"display":"none"});
            $(".program_list_down_5").css({"display":"flex"});
        }
    });


    function button() {
        var f = document.event_action;
        if(team1.value=="") {
        }
        else if(team2.value=="") {
        }
        else if(team3.value=="") {
        }
        else if(team4.value=="") {
        }
        else if(team5.value=="") {
        }
        else if($(".event_name").val()=="") {
        }
        else if($(".event_phonenumber").val()=="") {
        }
        else if(f.check.checked!==true) {
            alert('개인정보활용동의를 체크해 주세요.');
        }
        else {
            alert('제출되었습니다');
        }
    }

    // 복사하기 버튼 클릭
    $('.support_project_button').click(function () {

        // 화면에서 hidden 처리한 input box type을 text로 일시 변환
        $('.support_project_value').attr('type', 'text');

        // input에 담긴 데이터를 선택
        $('.support_project_value').select();

        //  clipboard에 데이터 복사
        var copy = document.execCommand('copy');

        // input box를 다시 hidden 처리
        $('.support_project_value').attr('type', 'hidden');

        // 사용자 알림
        if (copy) {
            alert("데이터가 복사되었습니다.");
        }
    });

    AOS.init(); // 자바스크립트로 init()을 해야 동작한다.
</script>