@media (max-width:1024px) {

    .artist {
        width: 100%;
        height: 1896px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;

        .artist_title {
            font-size: 14px;
            line-height: 20px;
            padding-top: 64px;
            text-align: center;
            color: black;
        }

        .artist_box {
            width: 360px;
            height: 1649px;
            margin-top: 40px;
            padding-left: 16px;
            padding-right: 16px;
            display: flex;
            justify-content: center;
            position: relative;
        }

        .artist_line {
            display: none;
        }

        .project_oumtt_box {
            position: absolute;
        }

        .project_oumtt {
            width: 328px;
            height: 773px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .artist-Bian_image_1 {
            width: 328px;
            height: 412px;
            object-fit: cover;
            position: relative;
        }

        .artist-Bian_none_1 {
            width: 328px;
            height: 412px;
            object-fit: cover;
        }

        .artist-Bian_active {
            width: 328px;
            height: 412px;
            object-fit: cover;
            top:0px;
            position: absolute;
            display: none;
            top:0px;
        }

        .artist-Bian_image_1:active .artist-Bian_active {
            display: block;
        }

        .artist-Bian_image_2 {
            display: none;
        }

        .project_oumtt-content {
            width: 328px;
            height: 329px;
            display: flex;
            margin-top: 32px;
            flex-direction: column;
        }

        .project_oumtt-name {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.01em;
            color: #000000;
        }

        .project_oumtt-text {
            font-size: 13px;
            line-height: 24px;
            letter-spacing: -0.005em;
            color: #000000;
            margin-top: 24px;
        }

        .project_oumtt-about {
            width: 328px;
            height: 37px;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            letter-spacing: -0.01em;
            border-bottom: 0.05px solid #000000;
            margin-top: 48px;
            color: #000000;
        }

        .art-festival {
            width: 328px;
            height: 797px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 79px;
        }

        .artist-Yochan_image_1 {
            width: 328px;
            height: 412px;
            object-fit: cover;
            position: relative;
        }

        .artist-Yochan_none_1 {
            width: 328px;
            height: 412px;
            object-fit: cover;
        }

        .artist-Yochan_active {
            width: 328px;
            height: 412px;
            object-fit: cover;
            position: absolute;
            display: none;
            top:0px;
        }

        .artist-Yochan_image_1:active .artist-Yochan_active {
            display: block;
        }

        .artist-Yochan_image_2 {
            display: none;
        }

        .art-festival-content {
            width: 328px;
            height: 353px;
            display: flex;
            flex-direction: column;
            margin-top: 32px;
            margin-bottom: 123px;
        }

        .art-festival-name {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.01em;
            color: #000000;
        }

        .art-festival-text {
            font-size: 13px;
            line-height: 24px;
            color: #000000;
            margin-top: 24px;
        }

        .art-festival-about {
            width: 328px;
            height: 37px;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            letter-spacing: -0.01em;
            border-bottom: 0.05px solid #000000;
            margin-top: 48px;
            color: #000000;
        }

        .project {
            width: 100%;
            height: 1000px;
            background-color: #000000;
            display: flex;
            justify-content: center;
        }

        .artist a:link {color: #000000;}
        .artist a:visited {color: #000000;}
    }
}

@media (min-width:1024px) {

    .artist {
        width: 100%;
        height: 1776px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;

        .artist_title {
            font-size: 26px;
            line-height: 36px;
            padding-top: 144px;
            text-align: center;
            color: black;
        }

        .artist_box {
            width: 1024px;
            height: 1224px;
            margin-top: 96px;
            padding-left: 24px;
            padding-right: 24px;
            display: flex;
            justify-content: center;
            position: relative;
        }

        .artist_line {
            position: absolute;
            left: 24px;
        }

        .project_oumtt_box {
            position: absolute;
        }

        .project_oumtt {
            width: 976px;
            height: 600px;
            display: flex;
            flex-direction: row;
        }

        .project_oumtt-content {
            width: 336px;
            height: 383px;
            display: flex;
            flex-direction: column;
            margin-top: 108px;
            margin-left: 70px;
        }

        .project_oumtt-name {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.01em;
            color: #000000;
        }

        .project_oumtt-text {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.005em;
            color: #000000;
            margin-top: 48px;
        }

        .project_oumtt-about {
            width: 336px;
            height: 39px;
            font-size: 18px;
            line-height: 26px;
            text-align: left;
            letter-spacing: -0.01em;
            border-bottom: 0.05px solid #000000;
            margin-top: 64px;
            color: #000000;
        }

        .artist-Bian_image_1 {
            display: none;
        }

        .artist-Bian_image_2 {
            width: 476px;
            height: 600px;
            object-fit: cover;
            margin-left: 94px;
            position: relative;
        }

        .artist-Bian_none_2 {
            width: 476px;
            height: 600px;
            object-fit: cover;
        }

        .artist-Bian_hover {
            width: 476px;
            height: 600px;
            object-fit: cover;
            top:0px;
            position: absolute;
            display: none;
            top:0px;
        }

        .artist-Bian_image_2:hover .artist-Bian_hover {
            display: block;
        }

        .art-festival {
            width: 976px;
            height: 600px;
            display: flex;
            flex-direction: row;
            margin-top: 24px;
        }

        .artist-Yochan_image_1 {
            display: none;
        }

        .artist-Yochan_image_2 {
            width: 476px;
            height: 600px;
            object-fit: cover;
            position: relative;
        }

        .artist-Yochan_none_2 {
            width: 476px;
            height: 600px;
            object-fit: cover;
        }

        .artist-Yochan_hover {
            width: 476px;
            height: 600px;
            object-fit: cover;
            top:0px;
            position: absolute;
            display: none;
            top:0px;
        }

        .artist-Yochan_image_2:hover .artist-Yochan_hover {
            display: block;
        }

        .art-festival-content {
            width: 337px;
            height: 407px;
            display: flex;
            flex-direction: column;
            margin: 94px 69px 97px 94px;
        }

        .art-festival-name {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.01em;
            color: #000000;
        }

        .art-festival-text {
            font-size: 14px;
            line-height: 24px;
            color: #000000;
            margin-top: 48px;
        }

        .art-festival-about {
            width: 336px;
            height: 39px;
            font-size: 18px;
            line-height: 26px;
            text-align: left;
            letter-spacing: -0.01em;
            border-bottom: 0.05px solid #000000;
            margin-top: 64px;
            color: #000000;
        }

        .artist a:link {color: #000000;}
        .artist a:visited {color: #000000;}
    }
}