@import "./0_basic.scss";

/* header */

header {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: 10;
    @include mobile {
        height: 48px;
    }
    @include desktop {
        height: 64px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            padding: 0px 16px;
            width: 100%
        }
        @include desktop {
            padding: 0px 24px;
            width: calc(33.04% + 686px);
        }

        .nav_home {
            display: flex;
            flex-direction: row;
            color: #B5CEEE;
            justify-content: space-between;
            @include mobile {
                width: 166px;
                font-size: 14px;
                line-height: 20px;
            }
            @include desktop {
                width: 251px;
                font-size: 18px;
                line-height: 26px;
            }

            .nav_active {
                color: #3B7B89;
                font-weight: 600;
            }

            .nav_point {
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #3B7B89;
                display: inline-block;
            }
        }

        .nav_button {
            border: 1px solid #B5CEEE;
            color: #B5CEEE;
            background-color: transparent;
            letter-spacing: -0.04em;
            @include mobile {
                width: 120px;
                height: 24px;
                border-radius: 6px;
                font-size: 13px;
                line-height: 20px;
            }
            @include desktop {
                width: 144px;
                height: 36px;
                border-radius: 8px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}