@import "../0_basic.scss";

.intro_round_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
        .intro_round {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin-top:9px;
            background-color: #ffffff;
        }

        .intro_line_text {
            font-size: 11px;
            line-height: 20px;
            letter-spacing: -0.04em;
            margin-top: 4px;
        }
    }

    @include desktop {
        .intro_round {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ffffff;
        }

        .intro_line_text {
            font-size: 16px;
            line-height: 28px;
            letter-spacing: -0.04em;
            margin-top: 6px;
        }
    }
}

@mixin artist_photo (
    $w: 156px,
    $h: 200px,
    $object-fit: cover,
    $position: null,
    $display: flex,
    $top: 0px,
) {
    width: $w;
    height: $h;
    object-fit: $object-fit;
    position: $position;
    display: $display;
    top: $top;
}

@mixin artist_photo_d ($w: 309px, $h: 400px, $position: null, $display: flex) {
    @include artist_photo($w:$w, $h:$h, $position:$position, $display:$display)
}

$classes : (artist, guest);

@each $class in $classes {
    .#{$class}_photo_box {
        width: 100%;
        height: 100%;

        .#{$class}_intro {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 500;
            letter-spacing: -0.02em;
            @include mobile {
                @if ($class == artist) { 
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 4px;
                } @else {
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 8px;
                }
            }
            @include desktop {
                font-size: 20px;
                line-height: 32px;
                @if ($class == artist) {
                    margin-top: 8px;
                } @else {
                    margin-top: 16px;
                } 
            }
        }

        .#{$class}_image_none {
            @include artist_photo();
            @include mobile {
                @if ($class == artist) {
                } @else {
                    @include artist_photo($w:328px, $h:240px);
                }
            }

            @include desktop {
                @if ($class == artist) {
                    @include artist_photo_d();
                } @else {
                    @include artist_photo_d($w:476px, $h:600px);
                }
            }
        }

        .#{$class}_image_active {
            @include mobile {
                @if ($class == artist) {
                    @include artist_photo($position:absolute, $display: none);
                } @else {
                    @include artist_photo($w:328px, $h:240px, $position:absolute, $display: none);
                }
            }

            @include desktop {
                @if ($class == artist) {
                    @include artist_photo_d($position:absolute, $display: none);
                } @else {
                    @include artist_photo_d($w:476px, $h:600px, $position:absolute, $display:none);
                }
            }
        }
    }
}

.program_list_down_1 {
    @include mobile {
        @include program_list();
        @include program_list_position();
    }
    @include desktop {
        @include program_list_d();
        @include program_list_position();
    }
}

.program_list_1 {
    flex-direction: column;    
    @include mobile {
        @include program_list($h:116px, $display:none);
    }
    @include desktop {
        @include program_list_d($h:180px, $display:none);
    }

    .progrma_list_title {
        letter-spacing: -0.02em;
        @include mobile {
            font-size: 14px;
            line-height: 20px;
        }
        @include desktop {
            font-size: 24px;
            line-height: 36px;
        }
    }

    .program_list_text {
        letter-spacing: -0.02em;
        @include mobile {
            line-height: 22px;
            margin-top: 22px;
        }
        @include desktop {
            font-size: 18px;
            line-height: 28px;
            margin-top: 32px;
        }
    }
}

.program_polygon {
    @include mobile {
        width: 14px;
        height: 12px;
    }
    @include desktop {
        width: 28px;
        height: 24px;
    }
}

.event_list_number {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.event_list_choice {
    width: 256px;
    height: 44px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 12px 14px;
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/ 
    appearance:none;
    background: url("../../svg/polygon.svg") no-repeat 94% 50%/14px 12px;
    font-size: 14px;
    line-height: 20px;
    background-color: #ffffff;
    color: #616161;
    border:none;
    outline: none;

    .event_list_choice_1 {
        width: 200px;
        height: 30px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #616161;
    }
}

select::-ms-expand{
    display:none;/*for IE10,11*/
}

.event_list_name {
    font-size: 14px;
    line-height: 24px;
    margin-top: 48px;
}

.event_name {
    width: 328px;
    height: 36px;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    border-bottom: 1px solid #BDBDBD;;
    outline: none;
    margin-top: 4px;
    padding: 0px 0px;
    background-color: transparent;
    border-radius: 0px;
}

.event_list_phonenumber {
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
}

.event_phonenumber {
    width: 328px;
    height: 36px;
    border-right:0px; 
    border-top:0px; 
    border-left:0px;
    border-bottom: 1px solid #BDBDBD;;
    outline: none;
    margin-top: 4px;
    padding: 0px 0px;
    background-color: transparent;
    border-radius: 0px;
}

.event_list_notice_2 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.005em;
    margin-top: 2px;
    color: #616161;
}

.event_list_button {
    width: 328px;
    height: 56px;
    background: #DBFD5C;
    box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 22px;       
    color: black;
    border: none;
}

.event_list_agree {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;

    .event_list_text {
        font-size: 14px;
        line-height: 24px;
    }

    .event_list_check {
        width: 20px;
        height: 24px;
    }

    .event_list_check input[type="checkbox"] {
        display: none;
    }

    .event_list_check input[type="checkbox"] + label {
        display: flex;
        width: 20px;
        height: 20px;
        margin: 2px 0px 0px 0px;
        background: url("../../svg/checkbox_none.svg") no-repeat center/16px 16px;
    }

    .event_list_check input[type="checkbox"]:checked + label {
        background: url("../../svg/checkbox_check.svg") no-repeat center/16px 16px; float: right;
    }

    a:link {color:#000000;}
    a:visited {color: #000000;}
}

.support_staff_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include desktop {
        border-bottom: 1px solid #616161;
        @for $i from 2 through 7 {
            &:nth-child(#{$i}) {
                @if ($i <= 4) {
                    grid-row-start: 2;
                } @else {
                    grid-row-start: 3;
                }
            }
        }
    }

    .support_staff_role {
        font-weight: 500;
        letter-spacing: -0.02em;
        @include mobile {
            font-size: 14px;
            line-height: 20px;
        }
        @include desktop {
            font-size: 20px;
            line-height: 32px;
        }
    }    

    .support_staff_name {
        font-weight: 400;
        letter-spacing: -0.02em;    
        @include mobile {
            font-size: 14px;
            line-height: 20px;
        }
        @include desktop {
            font-size: 20px;
            line-height: 32px;
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

@font-face {
    font-family: 'Maitree';
    src: url("../fonts/RIDIBatang_min.otf") format("opentype");
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

* {
    font-family: 'Maitree' !important;                 
    color: inherit;
    box-sizing: border-box;
}

a:link {color:#ffffff;}
a:visited {color: #ffffff;}

$breakpoint-desktop: 1024px;
@mixin mobile {
    @media (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
      @content;
    }
}

@mixin program_list (
    $w: 328px,
    $h: 44px,
    $bg: #FFFFFF,
    $p: 12px 14px,
    $pb: if($h !=44px, 18px, null),
    $box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12),
    $border-radius: 8px,
    $color: inherit,
    $display: flex,
    $font-size: 14px,
    $line-height: 20px,
    $letter-spacing: -0.02em,
) {
    width: $w;
    height: $h;
    background: $bg;
    padding: $p;
    padding-bottom: $pb;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    color: $color;
    display: $display;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin program_list_d (
    $w: 976px,
    $h: 80px,
    $p: 22px 32px,
    $pb: if($h !=80px, 34px, null),
    $border-radius: 12px,
    $display: flex,
    $font-size: 24px,
    $line-height: 36px,
    $letter-spacing: -0.02em,
) {
    @include program_list($w:$w, $h:$h, $p:$p, $pb:$pb, $border-radius:$border-radius, $display:$display, $font-size:$font-size, $line-height:$line-height, $letter-spacing:$letter-spacing);
}

@mixin program_list_position (
    $position: relative,
    $justify-content: space-between,
    $align-items: center,
) {
    position: $position;
    justify-content: $justify-content;
    align-items: $align-items;
}

header {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: 10;
    @include mobile {
        height: 48px;
    }
    @include desktop {
        height: 64px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            padding: 0px 16px;
            width: 100%
        }
        @include desktop {
            padding: 0px 24px;
            width: calc(33.04% + 686px);
        }

        .nav_home {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include mobile {
                width: 166px;
                font-size: 14px;
                line-height: 20px;
            }
            @include desktop {
                width: 251px;
                font-size: 18px;
                line-height: 26px;
            }

            .oumtt_link, .program_link, .nav_home_notion {
                text-decoration: none;
            }

            .nav_active {
                color:#DBFD5C;
                font-weight: 600;
            }

            .nav_point {
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #DBFD5C;
                display: inline-block;
            }
        }

        .nav_button {
            border: 1px solid #FFFFFF;
            background-color: transparent;
            letter-spacing: -0.04em;
            @include mobile {
                width: 120px;
                height: 24px;
                border-radius: 6px;
                font-size: 13px;
                line-height: 20px;
            }
            @include desktop {
                width: 160px;
                height: 36px;
                border-radius: 8px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

main {
    width: 100%;
    height: auto;
    display: grid;
    @include mobile {
        grid-template-rows: 480px 732px 920px 404px 868px 920px 504px 552px 342px 391px;
    }
    @include desktop {
        grid-template-rows: 1200px 1104px 1332px 792px 0px 1292px 734px 1052px 1088px 279px;
    }

    .main_image {
        display: flex;
        width: 100%;
        object-fit: cover;
        @include mobile {
            height: 480px;
            content : url("../img/nature_background.png");
        }
        @include desktop {
            height: 1200px;
            content : url("../img/nature_background_2.png");
        }
    }

    .item {
        $colors: (null, #000000, #FAFAFA, #FAFAFA, #F7FCE7, #000000, #000000, #FAFAFA, #F7FCE7, #000000);
        $paddings_mb : (48px 0px 0px 0px, 40px 16px 56px 16px, 40px 16px 56px 16px, 0px 16px 56px 16px, 40px 16px 56px 16px, 40px 16px 56px 16px, 0px 16px 57px 16px, 40px 16px 56px 16px, 40px 0px 56px 16px, 48px 16px 81px 16px);
        $paddings_dt : (64px 0px 0px 0px, 160px 24px 168px 24px, 160px 24px 80px 24px, 40px 24px 168px 24px, 40px 16px 56px 16px, 160px 24px 40px 24px, 80px 24px 169px 24px, 160px 24px 168px 24px, 160px 0px 168px 0px, 72px 24px 113px 24px);
        @for $i from 1 through length($colors) {
            $color: nth($colors, $i);
            $padding_mb: nth($paddings_mb, $i);
            $padding_dt: nth($paddings_dt, $i);
            &:nth-child(#{$i}) {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                background-color: $color;
                @if ($i==1) {
                    position: relative;
                }
                @if ($color==#000000) or ($color==null) {
                    color : #ffffff
                }
            }

            &:nth-child(#{$i}) .item_box {
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: $color;
                @include mobile {
                    width: 360px;
                    padding: $padding_mb;
                }
                @include desktop {
                    width: 1024px;
                    padding: $padding_dt;
                    @if ($i==5) or ($i==9) {
                        align-items: center; 
                    } @else if ($i==10) {
                        flex-direction: row;
                    }
                }
                @if ($i==1) {
                    align-items: center;
                    position: absolute;
                }
            }
        }
    }
}

.intro_title {
    letter-spacing: -0.02em;
    @include mobile {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        margin-top: 80px;
    }
    @include desktop {
        font-weight: 500;
        font-size: 48px;
        line-height: 68px;
        margin-top: 240px;
    }
}

.intro_nature {
    color: #DBFD5C;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
    }
    @include desktop {
        font-size: 34px;
        line-height: 40px;
        margin-top: 40px;
    }
}

.intro_line {
    display: flex;
    position: relative;
    @include mobile {
        width: 328px;
        height: 212.5px;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 83.5px;
    }
    @include desktop {
        width: 477px;
        height: 216px;
        border-bottom: 2px solid #ffffff;
        margin-bottom: 532px;
    }                        
}

.intro_border {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include mobile {
        column-gap: 12px;
        width: 318px;
        height: 40px;
        top: 384px;
    }

    @include desktop {
        column-gap: 18px;
        width: 472px;
        height: 44px;
        top: 662px;
    }
}

.guset_title {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 22px;
        line-height: 36px;
    }
    @include desktop {
        font-size: 40px;
        line-height: 64px;
    }
}

.guest_photo_grid {
    display: grid;
    @include mobile {
        width: 328px;
        height: 568px;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 24px;
        margin-top: 32px;
    }
    @include desktop {
        width: 976px;
        height: 648px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        margin-top: 64px;
    }
}

.withyou_title {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 22px;
        line-height: 36px;
    }
    @include desktop {
        font-size: 40px;
        line-height: 64px;
    }
}

.withyou_profile {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 18px;
        line-height: 24px;
        margin-top: 32px;
    }
    @include desktop {
        font-size: 28px;
        line-height: 36px;
        margin-top: 64px;
    }
}

.withyou_photo_grid {
    display: grid;
    @include mobile {
        width: 328px;
        height: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 24px 16px;
        margin-top: 12px;
    }
    @include desktop {
        width: 976px;
        height: 904px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px 24.5px;
        margin-top: 24px;
    }
}

.program_title {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 18px;
        line-height: 24px;
    }
    @include desktop {
        font-size: 28px;
        line-height: 36px;
    }
}

.program_notice {
    letter-spacing: -0.02em;
    color: #616161;
    @include mobile {
        font-size: 12px;
        line-height: 20px;
        margin-top: 12px;
    }
    @include desktop {
        font-size: 16px;
        line-height: 20px;
        margin-top: 32px;
    }
}

.program_list_grid {
    display: grid;
    @include mobile {
        grid-template-rows: repeat(5, 1fr);
        gap: 12px;
        margin-top: 24px;
    }
    @include desktop{
        grid-template-rows: repeat(5, 1fr);
        gap: 16px;
        margin-top: 32px;
    }
}

.event_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.event_text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    margin-top: 24px;
}

.event_notice {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #616161;
    margin-top: 8px;
}

form {
    .event_select {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 12px;
        column-gap: 14px;
        margin-top: 32px;
        align-items: center;
    }
}

.table_title {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 22px;
        line-height: 36px;
    }
    @include desktop {
        font-size: 40px;
        line-height: 64px;
    }
}

.table_profile {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 18px;
        line-height: 24px;
        margin-top: 32px;
    }
    @include desktop {
        font-size: 28px;
        line-height: 36px;
        margin-top: 64px;
    }
}

.table_photo_grid {
    display: grid;
    @include mobile {
        width: 328px;
        height: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 24px 16px;
        margin-top: 12px;
    }
    @include desktop {
        width: 976px;
        height: 904px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px 24.5px;
        margin-top: 24px;
    }
}

.row_flex_1 {
    @include desktop {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.chair_title_1 {
    font-weight: 600;
    letter-spacing: -0.02em;   
    @include mobile {
        font-size: 18px;
        line-height: 24px;
    }
    @include desktop {
        font-size: 28px;
        line-height: 36px;
    }
}

.chair_text {
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 14px;
        line-height: 22px;
        margin-top: 24px;
    }
    @include desktop {
        width: 476px;
        font-size: 18px;
        line-height: 28px;
    }
}

.row_flex_2 {
    @include desktop {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px;
    }
}

.chair_title_2 {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 18px;
        line-height: 24px;
        margin-top: 64px;
    }
    @include desktop {
        font-size: 28px;
        line-height: 36px;
    }
}

.chair_link {
    font-weight: 600;
    letter-spacing: -0.01em;
    border-bottom: 1px solid #ffffff;
    text-align: end;
    @include mobile {
        width: 328px;
        height: 33px;
        font-size: 16px;
        line-height: 24px;
        margin-top: 56px;
    }
    @include desktop {
        width: 976px;
        height: 39px;
        font-size: 18px;
        line-height: 26px;
        margin-top: 115px;
    }

    .chair_notion {
        text-decoration: none;
    }

    .chair_link_text {
        @include mobile {
            margin-bottom: 8px;
        }
        @include desktop {
            margin-bottom: 12px;
        }
    }

    .chair_link_arrow {
        margin-left: 4px;
    }
}

.chair a:link {color: #ffffff;}
.chair a:visited {color: #ffffff;}

.support_title {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 22px;
        line-height: 36px;
    }
    @include desktop {
        font-size: 40px;
        line-height: 64px;            
    }
}

.support_photo {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 18px;
        line-height: 24px;
        margin-top: 32px;            
    }
    @include desktop {
        font-size: 28px;
        line-height: 36px;
        margin-top: 64px;
    }
}

.support_slide {
    margin-top: 24px; 
    @include mobile {
        width: 328px;
        height: 132px;
        background: url("../img/nature_slide.png");
        animation: shift 30s infinite linear;     
        background-size: cover;                
        @keyframes shift {
            from{background-position: 0 0;}
            to{background-position: -2800px 0;}
        }
    }
    @include desktop {
        width: 976px;
        height: 216px;
        background: url("../img/nature_slide_2.png");
        animation: shift 49.5s infinite linear;
        background-size: cover;
        @keyframes shift {
            from{background-position: 0 0;}
            to{background-position: -4624px 0;}
        }
    }
}

.support_staff {
    font-weight: 600;
    letter-spacing: -0.02em;   
    @include mobile {
        font-size: 18px;
        line-height: 24px;
        margin-top:56px;     
    }
    @include desktop {
        font-size: 28px;
        line-height: 36px;
        margin-top: 80px;
    }
}

.support_staff_list {
    display: grid;
    @include mobile {
        width: 328px;
        height: 104px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-auto-flow: column;
        gap: 8px 18px;
        margin-top: 24px;
    }
    @include desktop {
        width: 976px;
        height: 156px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 24px 24.5px;
        margin-top: 48px;
    }
}

.support_project {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 18px;
        line-height: 24px;
    }
    @include desktop {  
        font-size: 40px;
        line-height: 64px;
    }
}

.support_project_image {
    @include mobile {
        display: none;
    }
    @include desktop {  
        width: 561px;
        height: 392px;
        object-fit: cover;
        margin-top: 8px;
    }
}

.support_project_text {
    letter-spacing: -0.02em;
    margin-top: 24px;
    @include mobile {
        font-size: 13.7px;
        line-height: 22px;
    }
    @include desktop {  
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }
}

.support_project_box {
    @include mobile {
        width: 328px;
        height: 56px;
        background: #FFFFFF;
        box-shadow: 0px -1px 4px rgba(255, 255, 255, 0.12), 0px 2px 16px rgba(0, 0, 0, 0.24);
        border-radius: 12px;
        padding: 6px 6px 6px 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
    }
    @include desktop {  
        margin-top: 52px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.support_project_account {
    @include mobile {
        font-size: 16px;
        line-height: 22px;
    }
    @include desktop {  
        width: 465px;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        padding: 22px 58px;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.02em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.support_project_account::after {
    @include desktop {
        content: "(김비안)";
    }
}

.support_project_button {
    color: black;
    background: #DBFD5C;
    border: none;
    @include mobile {
        width: 96px;
        height: 44px;
        border-radius: 12px;
        font-size: 16px;
        line-height: 22px;
    }
    @include desktop {  
        width: 160px;
        height: 80px;
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.02em;
        margin-left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact_info-grid {
    display: grid;
    @include mobile {
        row-gap: 64px;
    }
    @include desktop {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 140px;
    }

    .contact_info-contact {
        font-weight: 600;
        line-height: 26px;
        @include mobile {
            font-size: 16px;
        }
        @include desktop {
            font-size: 18px;
        }
    }

    .contact_info-box {
        display: flex;
        flex-direction: column;

        .contact_info-link {
            display: grid;
            flex-direction: row;
            @include mobile {
                grid-template-columns: (77px 102px 89px);
                margin-top: 12px;
                column-gap: 24px;
            }
            @include desktop {
                grid-template-columns: repeat(3, 1fr);
                margin-top: 16px;
                column-gap: 40px;
            }

                .contact_notion, .contact_instagram, .contact_youtube {
                    text-decoration: none; display: inline-flex;
                }

            .contact_info-link_image {
                width: 20px;
                height: 20px;
                margin-top: 3px;
            }
        
            .contact_info-link_text {
                font-size: 16px;
                line-height: 26px;
                padding-left: 6px;
            }
        }

        .contact_info-click {
            display: flex;
            margin-top: 8px;
            @include mobile {
                width: 328px;
                height: 100px;
                flex-direction: column;
                align-items: end;
            }
            @include desktop {
                width: 488px;
                height: 36px;
                flex-direction: row;
            }

            .contact_input_box {
                height: 36px;
                border-right:0px; 
                border-top:0px; 
                border-left:0px;
                outline: none;
                background-color: transparent;
                padding: 0px 0px;
                @include mobile {
                    width: 328px;
                }
                @include desktop {
                    width: 360px;
                }
            }

            input::placeholder {
                color: #E0E0E0;
                font-size: 14px;
                margin-bottom: 5px;
                @include mobile {
                    line-height: 24px;
                }
                @include desktop {
                    line-height: 20px;
                }
            }

            .contact_input_notice_1 {
                @include mobile {
                    font-size: 8px;
                    line-height: 20px;
                    margin-top: 4px;
                    text-align: end;
                }
                @include desktop {
                    display: none;
                }
            }

            .contact-submit-button {
                width: 120px;
                height: 36px;
                background: #DBFD5C;
                border-radius: 6px;
                color: black;
                @include mobile {
                    margin-top: 4px;
                    font-size: 14px;
                    line-height: 20px;
                }
                @include desktop {
                    margin-left: 8px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }            
        }

        .contact_input_notice_2 {
            @include mobile {
                display: none;
            }
            @include desktop {
                font-size: 8px;
                line-height: 20px;
                margin-top: 4px;
                text-align: end;
                margin-right: 128px;
            }
        }
    }    
}

.footer_info-line {
    width: 100%;
    border-top: 1px solid #424242;
    background-color: #000000;
    display: flex;
    align-items: center;
    @include mobile {
        height: 69px;
    }
    @include desktop {
        height: 121px;
    }

    .footer_info-copyright {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #9E9E9E;
        text-align: center;
    }
}