@import "../0_basic.scss";

/* withyou */ 

.withyou_title {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 22px;
        line-height: 36px;
    }
    @include desktop {
        font-size: 40px;
        line-height: 64px;
    }
}

.withyou_profile {
    font-weight: 600;
    letter-spacing: -0.02em;
    @include mobile {
        font-size: 18px;
        line-height: 24px;
        margin-top: 32px;
    }
    @include desktop {
        font-size: 28px;
        line-height: 36px;
        margin-top: 64px;
    }
}

.withyou_photo_grid {
    display: grid;
    @include mobile {
        width: 328px;
        height: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 24px 16px;
        margin-top: 12px;
    }
    @include desktop {
        width: 976px;
        height: 904px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px 24.5px;
        margin-top: 24px;
    }
}